.cart {
    display: flex;
    font-family: 'Playfair Display';
    height: 100%;
}

.cart .leftpart .mycartTitle {
    border-bottom: 2px solid #d5d5d5;
    font-size: 24px;
    font-family: 'Montserrat';
    padding: 13px 0px;
    color: rgb(95, 93, 93);
}

.cart .rightpart .mycartTitle {
    border-bottom: 2px solid #d5d5d5;
    font-size: 24px;
    font-family: 'Montserrat';
    padding: 13px 0px;
    color: rgb(95, 93, 93);
}

.cart .leftpart {
    width: 550px;
}

.cart .rightpart {
    width: 310px;
    margin-left: 50px;
}

.loading {
    filter: blur(3px);
}