.shoptoppicture img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    filter: brightness(0.6);
}

.shoptoppicture .underpicture {
    height: 50px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
}