.navbar-container ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    margin: 0px 0px;
    align-content: center;
    position: relative;
    top: -7px;
}

.navbar-container {
    text-align: center;
    width: 100%;
    margin: 0px;
    color: white;
}

* {
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

ul .nav-item .nav-links {
    text-decoration: none;
    font-size: 19px;
    color: rgb(255, 255, 255);
    padding: 6px 6px 19px 6px;
    cursor: pointer;
}

ul .nav-item {
    margin: 9px 21px 3px 21px;
    padding-bottom: 5px;
    position: relative;
    top: -8px;
}

ul .nav-item .nav-links::before {
    content: '';
    position: absolute;
    bottom: -1.4px;
    /* Adjust the distance from the text */
    height: 2px;
    /* Adjust the thickness of the line */
    background-color: #000000;
    /* Adjust the linergb(0, 0, 0)*/
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    width: 30px;
}

ul .nav-item .nav-links:hover::before {}

.navbar {
    background-color: #000000;
    height: 51px;
    position: fixed;
    top: 0px;
    z-index: 100;
    left: 0;
    right: 0;
    transition: .1s ease-in-out;
    justify-content: center;
    color: white;
}

.navbar.fixed {
    background-color: #000000;
    position: fixed;
    transition: .3s ease-in;
}

.nav-item {
    position: relative;
}

.nav-item .dropdown-menu {
    position: absolute;
    background-color: #f9f9f9;
    width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0%;
    top: 48px;
    border-color: rgb(255, 255, 255);
    left: -90px;
    height: 229px;
}

.navbar-rightpart {
    position: relative;
    display: flex;
    right: -310px;
    top: -1px;
    left: 400px;
}

.navbar-rightpart .navbar-icon {
    margin: 10px 18px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar-rightpart p {
    margin-left: 4px;
    position: relative;
    top: 6px;
}

.closeIcon {
    width: 31px;
    height: 31px;
    cursor: pointer;
}

.viewCart {
    width: 319px;
    height: 45px;
    border-radius: 0px;
    align-items: center;
    padding-top: 19px;
}

.divviewcart {
    /*
    width: 330px;
    height: 50px; */
    border-radius: 0px;
    background-color: #ffffff;
    height: 230px;
    padding: 17px 5px;
}

.loginmodal {
    justify-content: center;
}

.forgotpassword {
    position: relative;
    left: 240px;
}

.dropdownShop {
    position: absolute;
    top: 65px;
    width: 100%;
}

.dropdown .link {
    color: rgb(40, 40, 40);
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    margin-right: 30px;
}

.userDropdown {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    text-align: center;
    position: relative;
    right: 14px;
}

.userDropdown li {
    cursor: pointer;
    padding: 4px;
}

.userDropdown .ullink {
    text-decoration: none;
    color: #000000;
}

.userDropdown .ullink:hover {
    color: rgb(254, 125, 125);
}

.dropdownShop .dropdown {
    padding: 13px;
    font-size: 17px;
    font-family: 'Playfair Display';
    margin-top: -14px;
    margin-right: 0px;
    background-color: #d4d4d2;
    width: 1000px;
}

.loginmodal .dropdown {
    background-color: #dfdddd;
    padding: 13px;
    font-size: 15px;
    font-family: Montserrat;
    margin-top: -13px;
    margin-left: -5px;
}

.navbar-container .navbar-rightpart .navbar-icon .custom-icon {
    color: rgb(0, 0, 0);
}

.navbar-container .navbar-rightpart .navbar-icon .custom-icon:hover {
    color: red;
}

.offcanvas-body {
    background-color: rgba(255, 255, 255, 0.7);
}

.custom-offcanvas {}

.offcanvas-body {}

.blur {
    filter: blur(1px);
    z-index: 1000;
}

.errormessage {
    color: #c50303;
    font-size: 16px
}

.loginsubmitc {
    background-color: #767676;
    width: 360px;
    height: 46px;
    font-size: 19px;
    border-radius: 0px;
    margin-bottom: 18px;
}

.loginsubmit {
    background-color: #464545;
    width: 360px;
    height: 46px;
    font-size: 19px;
    border-radius: 0px;
    background-color: #464545;
    margin-bottom: 18px;
}

.resetpawwordiv .full-screen-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: 1050;
    overflow: hidden;
}

.full-screen-modal .modal-dialog {
    width: 1000px;
    height: 1000px;
    margin: 0;
}

.modal-content {
    height: 100%;
    border: none;
}

.modal-body {
    overflow-y: auto;
}

.formcontainer .custom-button {
    width: 100%;
    background-color: #000000;
    border: none;
    height: 43px;
    margin: 30px 0px;
    font-size: 17px;
    font-family: montserrat;
    border-radius: 0px;
}

.formcontainer .custom-button:active {
    background-color: #000000!important;
}

.formcontainer .custom-button:hover {
    background-color: #888686;
}

.formcontainer .custom-form-control {}

.loginModal .custom-input {
    box-shadow: none !important;
}

.formcontainer .custom-input {
    box-shadow: none !important;
}

.loginModal .custom-input-error {
    box-shadow: none !important;
    border: 1px solid rgb(252, 33, 33);
}

.custom-google-button {
    /* Add your custom styles here */
    background-color: #4a1712;
    /* Example background color */
    color: rgb(0, 0, 0);
    /* Example text color */
    border: none;
    /* Remove border */
    padding: 10px 20px;
    /* Adjust padding */
    font-size: 16px;
    /* Adjust font size */
    cursor: pointer;
    width: 360px
}