.container {
    padding: 0;
    margin: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.container .admintopbar {
    height: 40px;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgb(228, 228, 228);
    background-color: #ffffff;
}

.container .content {
    height: 100vh;
    display: flex;
    width: 100%;
    margin: 0px;
}

.content .mainmenu {
    width: 10%;
    background-color: #2a2a2a;
    border-right: 1px solid rgb(228, 228, 228);
    height: 940px;
    position: static;
    text-align: left;
    justify-content: left;
    margin: 0;
    padding: 0;
}

.content .arightpart {
    width: 90%;
    overflow-y: auto;
    height: 100%;
    background-color: #f5f7fa;
}

.ulmainmenu {
    padding: 0px;
    margin: 0px;
    position: sticky;
    overflow-y: hidden;
}

.ulmainmenu li {
    padding: 19px 40px;
    font-size: 16px;
    display: block;
    text-align: left;
    color: #b9b9b9;
}

.ulmainmenu li:hover {
    background-color: #f5f7fa;
    cursor: pointer;
}

.clicked {
    background-color: #ffffff;
}