            body {
                height: 1000px;
            }
            
            .carouselBlock {
                margin-bottom: 19px;
            }
            
            .carouselBlockhistorypart {}
            
            .artlists {}
            
            .custom-image-carousel {
                height: 430px;
                object-fit: cover;
                filter: brightness(65%);
            }
            
            .dark-overlay {
                content: '';
                position: relative;
                top: 0px;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
            }
            
            .carousel-button .custom-button {
                padding: 10px 20px;
                background-color: #585757;
                border-radius: 0px;
                border: none;
                color: rgb(255, 255, 255);
                font-size: 16px;
                position: relative;
                top: -37px;
                left: 680px;
                cursor: pointer;
                display: flex;
                justify-content: center;
            }
            
            .carousel-button .custom-button:hover {
                background-color: #a4a3a3;
            }
            
            .dropdownButtons #dropdown-price {
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                border: 1px solid rgb(0, 0, 0);
                border-radius: 0px;
                margin: 10px 17px;
                width: 139px;
                font-size: 18px;
            }
            
            .homeartshop .dropdownButtons {
                display: flex;
            }
            
            .homeartshop {}
            
            .artlists {
                display: flex;
                flex-wrap: wrap;
                padding: 0px 100px;
            }
            
            .artfilteredlist {
                display: flex;
                flex-wrap: wrap;
                padding: 0px 10px;
            }
            
            .paintingcard .artpicture {
                transition: transform 0.1s ease;
                object-fit: cover;
                border-radius: 0px;
            }
            
            .paintingcard:hover .artpicture {}
            
            .paintingcard {}
            
            .paintingcard:hover .artpicture {
                /* transform: scale(1.3); */
            }
            
            .paintingcard .pictureholder {
                overflow: hidden;
            }
            
            .exploringbutton .button {
                width: 190px;
                background-color: rgb(255, 255, 255);
                color: black;
                height: 50px;
                border-radius: 0px;
                border: 1px solid black;
                font-size: 19px;
            }
            
            .exploringbutton {
                align-items: center;
                text-align: center;
            }
            
            .exploringbutton .button:hover {
                background-color: rgb(177, 177, 177);
                color: rgb(255, 255, 255);
                border: 1px solid black;
            }
            
            .paintingcard {
                margin: 7px 100px;
            }
            
            input[type="number"] {
                -moz-appearance: textfield;
            }
            /* Additional styling if needed */
            
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            
            .custom-carousel .carousel-control-prev,
            .custom-carousel .carousel-control-prev {
                color: #232222;
                /* Change #yourColor to your desired color */
            }
            
            .custom-carousel .carousel-control-prev-icon,
            .custom-carousel .carousel-control-next-icon {
                background-image: none;
                /* Remove default background images */
            }
            
            .custom-carousel .carousel-control-next-icon:after {
                content: url('../../assets/images/iconnext.png');
                /* Replace with your desired content */
            }
            
            .custom-carousel .carousel-control-prev-icon:after {
                content: url('../../assets/images/back.png');
            }
            
            .custom-carousel .my-custom-btn {
                background-color: white;
                border: 1px solid rgb(69, 69, 69);
                padding: 11px 30px;
                color: #323232;
                border-radius: 0px;
                position: absolute;
                top: 470px;
                font-size: 16px;
            }
            
            .custom-carousel .my-custom-btn:hover {
                background-color: #dec9b6;
                border: 1px solid rgb(69, 69, 69);
            }
            
            .custom-carousel .historyrightpart {
                border: 1px solid rgb(113, 109, 109);
                padding: 10px 15px;
                background-color: #fafafa;
            }
            
            .paintingcard .custom-icon {
                width: 25px;
                height: 25px;
                color: rgb(255, 255, 255);
            }
            
            .paintingcard .custom-icon:hover {
                color: red;
            }
            
            .carouseldiv {}
            
            .fdivhome {
                background-color: rgb(240, 239, 239);
            }
            
            .maindiv .backimage {
                width: 100%;
                height: 350px;
            }
            
            .maindiv .backimage img {
                width: 100%;
                height: 100%;
                filter: brightness(35%);
                object-fit: cover;
            }
            
            .maindiv {
                margin: 0px 0 0px 0;
            }
            
            .divstudio {
                background-color: rgb(215, 213, 213);
                width: 100%;
                padding: 40px 0px 40px 0px;
            }