@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;500&display=swap');
:root {
    --text-color: '#575757';
    --button-color: '#da3e48';
}